ENV=dev

SAUCEDEMO_UI_BASE_URL=
SAUCEDEMO_UI_USERNAME=
SAUCEDEMO_UI_PASSWORD=
SAUCEDEMO_PERF_THRESHOLD=

AUTOMATIONEXERCISE_UI_BASE_URL=
AUTOMATIONEXERCISE_PERF_THRESHOLD=

JSONPLACEHOLDER_API_BASE_URL=
REQRES_API_BASE_URL=