# dependencies
node_modules/

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# allure
allure-results/
allure-report/

# env files
.env
.env.dev
.env.staging
.env.prod

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# vscode
.vscode/